 body{
  overflow: hidden !important;
  height: 100vh !important;
  
 
} 

.nav2:hover {
  color:  #F44336 !important;
  
  
}







.navbar-toggler.collapsed{
  background: red !important;
}

.offcanvas{
  width: 80vw !important;
  background: black !important;
  color: aliceblue !important;
}

.btn-close{
  background-color:#F44336 !important;
}

.offcanvas-header{
  color: red !important;
}

.contact:hover{
  color: #F44336 !important;
}

@media screen and (max-width: 768px) {
  .min{
    width: 100% !important;
  }
  
}



@media screen and (min-width: 768px) {
  .max{
     max-width:"10px" !important;
  max-height:"10px" !important;
  
  }
  
}



.card:hover{
  border-color: #F44336 !important;
  border: 1px solid #F44336;
}


@media screen and (max-width: 768px) {
  .min{
    width: 100% !important;
  }
  
}



@media screen and (min-width: 768px) {
  .max{
     max-width:"10px" !important;
  max-height:"10px" !important;
  
  }
  
}