.nav2:hover {
  color:  #F44336 !important;
  
  
}



body{
  background: black !important;
  color: aliceblue !important;
}

.card:hover{
  border-color: #F44336 !important;
  border: 3px solid #F44336;
}

.navbar-toggler.collapsed{
  background: red !important;
}

.offcanvas{
  width: 80vw !important;
  background: black !important;
  color: aliceblue !important;
}

.btn-close{
  background-color:#F44336 !important;
}