 body{
  overflow: hidden !important;
  height: 100vh !important;
  background: #d60000;
 
  
 
} 


::-webkit-scrollbar{
  width: 10px;
  
}

::-webkit-scrollbar-track{
  background: #d6d6d6;
  box-shadow: inset 0 0 5px gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: white;
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}

.nav2:hover {
  color:  #F44336 !important;
  
  
}







.navbar-toggler.collapsed{
  background: red !important;
}

.offcanvas{
  width: 80vw !important;
  background: black !important;
  color: aliceblue !important;
}

.btn-close{
  background-color:#F44336 !important;
}

.offcanvas-header{
  color: red !important;
}

.contact:hover{
  color: #F44336 !important;
}

@media screen and (max-width: 768px) {
  .min{
    width: 100% !important;
    
  }
 .five{
  max-height: 100vh;
 }
  body{
    overflow:visible !important;
  }
 
}



@media screen and (min-width: 768px) {
  .max{
     max-width:"10px" !important;
  max-height:"10px" !important;
  
  }
  .five{
    max-height: 500px;
  }
  .alin{
    display: flex !important;
    align-items: center !important;
  }
}



.card:hover{
  border-color: #F44336 !important;
  border: 1px solid #ff0000;
}


@media screen and (max-width: 768px) {
  .min{
    width: 100% !important;
  }
  .alin2{
    max-height: fit-content !important;
    padding: 20px 20px;
      
  }
  .omo{
    margin-top: 50px;
    padding-bottom: 0px !important;
    
  }
  
}



@media screen and (min-width: 768px) {
  .max{
     max-width:"10px" !important;
  max-height:"10px" !important;
  
  }
 
  
}